@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #f8f6f2;
  --background-end-rgb: #000000;
}

body {
  scroll-behavior: smooth;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb));
}

::-moz-selection {
  /* Code for Firefox */
  color: #c0c0c0;
  background: #1a1a1a;
}

::selection {
  color: #c0c0c0;
  background: #1a1a1a;
}

.Mbg_col_el {
  width: 1px;
  display: block;
  background: linear-gradient(to bottom, transparent 50%, #000000 50%);
  background-size: 100% 8px;
}

.clipped {
  clip-path: polygon(50% 0, 100% 0, 100% 85%, 90% 100%, 50% 100%, 0 100%, 0 0);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 1.5s ease 0.5s forwards;
}

.active {
  color: white;
}

.nav-link:hover > span > span,
.nav-link:focus > span > span {
  transform: translateY(-200%);
}
